.navbar {
    background-color: #003f5c !important;
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
}

.footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #003f5c;
}