.navbar {
    background-color: #003f5c !important;
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.content {
    padding-top: 80px;
    
}

.footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #003f5c;
}

button {
    background: #003f5c;
    box-shadow: none;
    border: none;
    color: #fff;
    padding: 5px;
}

button:hover{
    background: #057c4b;
    font-weight: bold !important;
}