.product {
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product > p {
    min-height: 4.5rem;
}

.product > img{
    min-width: 80%;
}

.product-img{
    height: 200px;
    width: 150px;
}