.product {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product > p {
    min-height: 4.5rem;
}

.product > img{
    min-width: 80%;
}

.product-img{
    height: 200px;
    width: 150px;
}

.product-actions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    height: 100%;
    font-weight: bold !important;
    background: rgba(0, 0, 0, 0.8);
}

.product:hover > .product-actions {
    opacity: 1;
}